<form>
    <div class="form-group col-md-12">
        <div class="col-md-3">
            <label>Calculation (Name)</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" ng-model="route_name">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-3">
            <label>Select a Measurements Equipment</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" ng-model="route_name">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-3">
            <label>Select a Technology</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" ng-model="route_name">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-3">
            <label>Select a Legend</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" ng-model="route_name">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-3">
            <label>Select a Test</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" ng-model="route_name">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-3">
            <label>Write the Attribute name (column title)</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" ng-model="route_name">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-3">
            <label>Math Operation</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" ng-model="route_name">
        </div>
    </div>

    <button class="btn btn-success" ng-click="saveRoute()">Save</button>
</form>