<div class="row">
    <form class="form-horizontal col-sm-10" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="upload">Upload template</label>
            <div class="col-sm-4">
                <input type="file"  nv-file-select uploader="uploader" id="upload">
            </div>
        </div>
    </form>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <td ng-repeat="col in columns">{{ col }}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data track by $index">
                <td ng-repeat="col in row track by $index">
                    <a href="#{{ project }}/competitors/{{ row[0] }}">
                        {{ col }} {{  }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>