<div class="row">
    <div class="col-md-12">
        <h4>Settings:</h4>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td class="col-md-4">Data collection equipment</td>
                    <td class="col-md-3">Latitude</td>
                    <td class="col-md-3">Longitude</td>
                    <td class="col-md-2"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="equipment in equipments">
                    <td><input type="text" ng-model="equipment.equipment_name"></td>
                    <td><input type="text" ng-model="equipment.latitude"></td>
                    <td><input type="text" ng-model="equipment.longitude"></td>
                    <td><a href="" ng-click="onDelete(equipment.id)">Delete</a></td>
                </tr>
                <tr><td>New equipment</td></tr>
                <tr>
                    <td><input type="text" ng-model="equipment_name"></td>
                    <td><input type="text" ng-model="latitude"></td>
                    <td><input type="text" ng-model="longitude"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <button class="btn btn-success" ng-click="onSave()">Save</button>
    </div>
</div>