<span us-spinner spinner-key="spinner-1"></span>
    <form ng-show="show_form">
        <div class="form-group col-md-12">
            <div class="col-md-1">
                <label>Route name</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" ng-model="route_name">
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="col-md-1">
                <label>Distance</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="number" min="1" ng-model="distance">
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="col-md-1">
                <label>Color</label>
            </div>
            <div class="col-md-3">
                <input class="form-control" type="color" ng-model="color">
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="col-md-1 ">
                <label>Module</label>
            </div>
            <div class="col-md-3" id="equipment">
                <ui-select ng-model="module.selected" theme="bootstrap"
                    ng-disabled="disabled"
                    ng-change="onModule(module.selected)"
                    reset-search-input="false">
                    <ui-select-match placeholder="Enter module...">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="module in modules | filter:$select.search">
                        {{ module }}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-12">
            <a href="" ng-click="onSelectAllClick()"  ng-show="files">Select all</a>
        </div>
        <div class="col-md-12" ng-repeat="file in files">
            <input type="checkbox" checklist-model="selected_files" checklist-value="file.filename"> {{ file.label }}
        </div>
        <button class="btn btn-success" ng-click="saveRoute()">Save</button>
    </form>