<div class="row">
    <div class="form-group col-md-12">
        <div class="col-md-2">
            <label>Single Competitor:</label>
        </div>
        <div class="col-md-3">
            <select class="from-control">
                <option>Competiotor 1</option>
                <option>Competiotor 2</option>
                <option>Competiotor 3</option>
            </select>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-2">
            <label>Competitive Graph:</label>
        </div>
        <div class="col-md-3">
            <input type="checkbox">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-2">
            <label>Legend to apply:</label>
        </div>
        <div class="col-md-3">
            <input type="checkbox">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-2">
            <label>Standard Route:</label>
        </div>
        <div class="col-md-3">
            <select class="from-control">
                <option>Route 1</option>
                <option>Route 2</option>
                <option>Route 3</option>
            </select>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-2">
            <label>Title of the Graph:</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-2">
            <label>Type of Graph:</label>
        </div>
        <div class="col-md-3">
            <select class="from-control">
                <option>Type 1</option>
                <option>Type 2</option>
                <option>Type 3</option>
            </select>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-2">
            <label>Create map also:</label>
        </div>
        <div class="col-md-3">
            <input type="checkbox">
        </div>
    </div>
    <div class="form-group col-md-12">
        <button class="btn btn-success">Save</button>
    </div>
</div>