<div class="row">
    <div class="col-md-12">
        <h4>Legend</h4>
        <div class="col-md-12">
            <span>-40 > -60</span>
            <span></span>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Route distance {{ distance }} km.</h4>
    </div>
    <div class="col-md-12">
        <openlayers  ol-center="center" ol-markers="markers" ol-controls="controls" width="100%" height="600px">
            <ol-control name="scaleline"></ol-control>
            <ol-control name="fullscreen"></ol-control>
            <ol-marker ng-repeat="marker in markers" lat="marker.lat" lon="marker.lon" ol-style="point_style(marker.color)"></ol-marker>
        </openlayers>
    </div>
</div>