<div class="row">
    <span us-spinner spinner-key="spinner_route" spinner-start-active="true"></span>
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" ng-options="route as route.route_name for route in routes track by route.id" ng-model="route_selected"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="onAddRoute(route_selected)">Add</button>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <leaflet height="480px" width="100%" id="map"></leaflet>
    </div>
</div>